.hero {
  height: 100vh;
  background-image: var(--hero-background-image);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hero-title {
  font-size: clamp(2rem, 6vw, 5rem);
  font-weight: 800;
}

.hero-subtitle {
  font-size: 1.25rem;
}
